@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =============== html element styling================== */

html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
ul li{
    list-style-type: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem ;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 00.15em;
    font-weight: 500;
}

/* ===========Utility classes==================== */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-weight: 2.2rem;

}
.bg-dark{
    background: #263238;
}
.text-red{
     color:#e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color:#333333;
}
.text-gray{
    color:#555555;
}

.btn{
   display: inline-block;
   padding: 0.5em 1.5em;
   font-weight: 500;
   text-transform: uppercase;
   margin: 0.5em 0;
}
.btn-primary{
    background: white;
    border-radius: 10em;
}
.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondry{
    background: white;
    text-transform: lowercase;
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
}
.btn-secondry:hover{
    background-color: #fcf3f2;
}
/* ====================header styling===================== */

.header  {
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.911)), url('../images/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 1rem;
}

.navbar .logo{
    float: left;
}
.navbar .nav-items{
    color: white;
    list-style: none;
    float: right;
    margin-top: 1rem;

}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.navbar a:link, .navbar a:visited{
    color: #f4f4f4;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}
.navbar::after{
     content: '';
     display: block;
     clear: both;
}

/* ============header content styling============= */
.header-content{
    position: absolute;
    /* border: 2px solid white; */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
}

/* =============Showcase section styling============ */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}
.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}
.row1{
    margin-bottom: 10rem;
}
.row1 .img-box, .row2 .text-box{
      float: left;
      width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    height: 100%;
}
.row .text-box{
    padding: 3rem; 
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

/* =============Featues section styling================ */

.features{
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgb(77, 55, 55);
}
.box{
    width: 33.333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}
.box-1, .box-3{
    background: #263238;
    color: #fff;
}
.box-2{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,7,7,1) 0%, rgba(255,41,41,1) 100.7% );
    color: #fff;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* ============== Footer section styling ============ */

.footer{
    text-align: center;
    color: #fff;
    background:#263238;
    padding: 1rem;
}
.social-media-links i{
    margin: 2rem ;
}

/* ########## ABOUT PAGE STYLING ########### */

.about{
    padding: 5rem 0;
}
.heading-underline::after{
    content: '';
    display: block;
    border: 3px solid crimson;
    width: 100%;

}
/* ============= about wrapper styling ============== */
.about-wrapper{
    text-align: center;
    margin: 2rem 0;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: '\2713';
    color: crimson;
    font-weight: bold;
    padding-right: 1rem;
}

/* ========count styling============ */
.count{
    margin-bottom: 3rem;
}
.count-items{
    float: left;
    width: 25%;
    text-align: center;
}
.count-items span{
    font-size: 3rem;
    font-weight: 700;
    color: crimson;
}
.count::after{
    content: '';
    display: block;
    clear: both;
}
.count-items p{
    font-size: 1.8rem;
    font-weight: 700;
    color: #555;
}

/* ============banner styling============== */

.cta-banner{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,7,7,1) 0%, rgba(255,41,41,1) 100.7% );
    color: #f4f4f4;
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 5px 5px 10px #0000007a;
}
.cta-banner-left{
    width: 60%;
    float: left;
}
.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}
.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #fff;
}
.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}

/* ===================Contact page styling ================ */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}

.form-wrapper::after{
    content: '';
    display: block;                                                                                                                                                                                                                                                                                                                                                                                                                
    clear: both;
}
.form-wrapper .company-address{
    height: 760px;
    width: 49%;
    float: left;
    background: #fff;
    padding: 1rem;
}
.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
}
.form-wrapper .address-group{
    margin-bottom: 1rem;
}
.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* ============Form styling=================== */

.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    width: 49%;
    float: right;
    padding: 1rem;
}
.form h1::after{
    content: '';
    display: block;
    width: 100%;
    border: 3px solid crimson;
}
.form-wrapper label{
    display: block;
}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;

}
.form-wrapper .form label::after{
    content: '*';
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5rem 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ############## MEDIA QUERIES ################## */
@media(max-width: 500px){
    html{
        font-size: 50%;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
    }
    .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .row{
        height: auto;
        width: 100%;;
    }
    .row .text-box h2{
        font-size: 2rem;
        font-weight: 500;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px rgb(77, 55, 55);
    } 
    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
       
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
        
       
    }
}

@media(min-width: 501px) and (max-width: 768px){
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
    }
    .row{
        height: auto;
        width: 100%;;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px rgb(77, 55, 55);
    } 
    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
       
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media(min-width: 769px) and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }
    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
}
@media(orientation: landscape) and (max-height: 500px){
    .header{
        height: 90vmax;
        
    }
}